body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    flex-direction: column;
    line-height: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../Fonts/NunitoSans-Bold') format('ttf'),
    url('../Fonts/NunitoSans-Bold') format('ttf');
    font-weight: bold;
    font-style: normal;
}

.container {
    width: 1088px;

}

.buttons {
    margin-top: 40px;
    text-transform: uppercase;
}

button:nth-of-type(1) {
    background-color: #FF0000;
    font-size: 16px;
    color: white;
    width: 220px;
    height: 66px;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    margin-right: 10px;
}

button:nth-of-type(2) {
    background-color: #FFf;
    font-size: 16px;
    color: #FF0000;
    width: 226px;
    height: 66px;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    margin-left: 10px;
}

header {
width: 1366px;
    flex-direction: column;
    color: #FFFFFF;
position: relative;
    height: 807px;
    display: flex;
}

header .tło {
    display: flex;
    flex-direction: column;
    width: 1366px;
    height: 100%;
    background-image: url("../Images/Image.jpg");
    position: absolute;
    top: 0;
    left: 0;
}

header .tło::before {
    content: "";
    background-color: #111;
    opacity: .3;
    width: 1366px;
    height: 807px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;


}

header .tło nav {
    width: 100%;
    display: flex;
        height: 93px;
    background-color: rgba(0, 0, 0, 0.5);

}


header .tło nav .navint {
    display: flex;

    width: 100%;


}

header .tło nav .navint .logoinapis {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

header .tło nav .navint .logoinapis .pierwszelogo {
    margin-right: 20px;
}

header .tło nav .navint .logoinapis p {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

header .tło nav .navint .logoinapis p span {
    color: #FF0000;
}

header .tło nav .navint ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

body > header > div > nav > div > ul > li {
    line-height: 88px;
    text-align: center;
    width: 25%;
    height: 100%;
}

body > header > div > nav > div > ul > li:nth-child(1):hover {
    background-color: rgba(240, 240, 240, 0.1);
}

header .tło .glownynapis {
    height: 717px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header .tło .glownynapis .glownynapiskontener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header .tło .glownynapis .glownynapiskontener h1 {
    font-size: 90px;
    font-weight: bold;
    z-index: 1;
    text-transform: uppercase;
    margin-bottom: 20px;
}

header .tło .glownynapis .glownynapiskontener p {
    font-size: 16px;
    z-index: 1;
    text-align: center;
    margin-bottom: 10px;
}

header .tło .glownynapis .glownynapiskontener .buttons {
    z-index: 1;
}

header .tło .glownynapis .glownynapiskontener .buttons button {

    font-size: 16px;
    font-weight: bold;
}

.blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 40px;

}

.blog h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.blog h2 {

    margin-top: 15px;
}

.blog img {
    width: 352px;
    height: 234px;

}

.blog .container {
    display: flex;
    color: #6A6A6A;
}

.blog button {
    width: 142px;
    height: 40px;
    border-radius: 40px;
    margin-top: 15px;
}

.blog p {
    margin-top: 15px;
}

.service {
    width: 1366px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 643px;
    position: relative;
    z-index: 1;

}

.service .container {

}

.service::before {
    content: "";
    background-color: #28272C;
    opacity: 100%;
    width: 100%;
    height: 643px;
    position: absolute;
    top: 0;
    left: 0;


}

.service h1 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    z-index: 1;
}


.service h1 {
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 25px;
}

.service p {
    margin-bottom: 25px;
    margin-top: 25px;
}

.service .container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    z-index: 1;
    color: #B2B2B2;
}

.service .container .columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service .container div {
    text-align: center;
    width: 231px;
    padding-left: 10px;
    padding-right: 10px;
}

.service img {
    width: 170px;
    height: 170px;
    margin-bottom: 25px;
}



.service button {
    width: 142px;
    height: 40px;
}

.formularz {
    margin-top: 20px;
    margin-bottom: 20px;
}

.formularz h2 {
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.formularz .container {
    display: flex;
    justify-content: center;
}

.formularz img {
    width: 444px;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 444px;
    margin-left: 10px;
}

input[type="text"],
input[type="password"],
textarea {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
box-sizing: border-box;
    width: 100%;
}

input[type="text"] {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #FF00004D;
    border: 1px solid #FF0000;
}

input[type="password"] {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
}

textarea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    opacity: 1;
}

input::placeholder {
    font: normal normal normal 16px/22px Nunito Sans;
    letter-spacing: 0px;
    color: #B2B2B2;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    cursor: pointer;
    display: flex;
    color: #B2B2B2;
}

.checkbox span {
    height: 22px;
    flex-shrink: 0;
    flex-basis: 22px;
    border: 3px solid #B2B2B2;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
}

.checkbox input:checked + span {
    background-image: url("../Images/Icon Check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.formularz .checkbox {
margin-bottom: 20px;
}

.formularz button {
   width: 142px;
    height: 40px;
    align-self: flex-end;
    background-color: white;
    color: #FF0000;
    border: 1px solid #FF0000;


}


footer {
    display: flex;
    justify-content: center;
    background-color: #28272C;
    flex-direction: column;
    width: 1366px;
    height: 233px;
    color: #FFFFFF;


}

footer .container {
    margin: 0 auto;
}

footer .container .trzykolumny {
    display: flex;
    justify-content: space-between;
}

footer .container .trzykolumny .dwiekolumny {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

footer .container .trzykolumny .dwiekolumny .pierwszakolumna, footer .container .trzykolumny .dwiekolumny .drugakolumna {
    display: flex;
    flex-direction: column;

}

footer .container .trzykolumny .dwiekolumny .pierwszakolumna a, footer .container .trzykolumny .dwiekolumny .drugakolumna a  {

    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 14px;
}

footer .container .trzykolumny .dwiekolumny .pierwszakolumna a:hover, footer .container .trzykolumny .dwiekolumny .drugakolumna a:hover {
    color: red;
}


footer .container .logonapis {
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;


}

footer .container .logonapis .obrazek {
    position: relative;

}

footer .container .logonapis .obrazek img {
    position: absolute;
    top: 5px;
}

footer .container .logonapis h2 {
    margin-left: 8px;
    font-size: 25px;
    text-transform: uppercase;
}

footer .container .logonapis h2 span {
color: #FF0000;
}

footer .container .trzykolumny .trzeciakolumna {
    align-self: flex-end;
    font-size: 12px;
    color: #D1D1D1;
    font-family: 'NunitoSans', sans-serif;

}